{
  auto_https off
  admin 0.0.0.0:3003
  servers {
    metrics
  }
}
:3000 {
  log {
    output stdout
    format console {
      time_format iso8601
      level_format color
    }
    level {$LOG_LEVEL}
  }
  handle /snowplow.js {
    header {
      Content-Type text/javascript
    }
    respond `// <!-- Snowplow starts plowing - Standalone vE.2.14.0 -->
             ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
               p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
               };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
               n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://www2.gov.bc.ca/StaticWebResources/static/sp/sp-2-14-0.js","snowplow"));
             window.snowplow('newTracker','rt','{$SNOWPLOW_URL}', {
               appId: 'Snowplow_standalone',
               cookieLifetime: 86400 * 548,
               platform: 'web',
               post: true,
               forceSecureTracker: true,
               contexts: {
                 webPage: true,
                 performanceTiming: true
               }
             });
             window.snowplow('enableActivityTracking', 30, 30); // Ping every 30 seconds after 30 seconds
             window.snowplow('enableLinkClickTracking');
             window.snowplow('trackPageView');
             // <!-- Snowplow stops plowing -->`
    }
  root * /app/dist
  encode zstd gzip
  file_server
  @spa_router {
    not path /api/*
    file {
        try_files {path} /index.html
    }
  }
  rewrite @spa_router {http.matchers.file.relative}

  header {
    X-Frame-Options "SAMEORIGIN"
    X-XSS-Protection "1;mode=block"
    Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
    X-Content-Type-Options "nosniff"
    Strict-Transport-Security "max-age=31536000"
    Content-Security-Policy "default-src 'self' https://spt.apps.gov.bc.ca data: https://spm.apps.gov.bc.ca/com.snowplowanalytics.snowplow/tp2;
     script-src 'self' 'unsafe-eval' https://www2.gov.bc.ca https://spm.apps.gov.bc.ca/com.snowplowanalytics.snowplow/tp2 ;
     style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://use.fontawesome.com;
     font-src 'self' https://fonts.gstatic.com;
     img-src 'self' data: https://fonts.googleapis.com http://www.w3.org https://*.gov.bc.ca"
    Referrer-Policy "same-origin"
    Feature-Policy "fullscreen 'self'; camera 'none'; microphone 'none'"
  }
  # Proxy requests to API service
  reverse_proxy /api/* {$BACKEND_URL}
}
:3001 {
  handle /health {
    respond "OK"
  }
}
