<div id="block-hourly-pay" class="block">
  <div class="header-block mb-4">
    <div class="header-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor"
        class="bi bi-clock text-primary" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
      </svg>
    </div>
    <div class="header-block-title flex-fill">
      <h2 class="mb-0">Hourly pay</h2>
    </div>
  </div>

  <table role="presentation">
    <tr>
      <td class="pe-2">
        <h4>Mean hourly pay gap<sup>1</sup></h4>
        <div id="mean-hourly-pay-gap">
          <% if (chartData.meanHourlyPayGap.length) { %>
            <div id="mean-hourly-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.meanHourlyPayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>
      </td>
      <td>
        <h4>Median hourly pay gap<sup>2</sup></h4>
        <div id="mean-hourly-pay-gap">
          <% if (chartData.medianHourlyPayGap.length) { %>
            <div id="median-hourly-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.medianHourlyPayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>
      </td>
    </tr>
  </table>

  <div class="explanatory-notes">
    <h4>Explanatory notes</h4>
    <% if (explanatoryNotes.dataConstraints) { %>
      <div class="footnote">
        <div class="footnote-number">
          <%= explanatoryNotes.dataConstraints.num %>.
        </div>
        <div>
          <%= explanatoryNotes.dataConstraints.text %>
        </div>
      </div>
      <% } %>
        <div class="footnote">
          <div class="footnote-number">
            <%= explanatoryNotes.meanHourlyPayDiff.num %>.
          </div>
          <div>&quot;Mean hourly pay gap&quot; refers to the differences in pay
            between gender groups calculated by average pay. Hourly pay does
            not include bonuses and overtime.</div>
        </div>
        <div class="footnote">
          <div class="footnote-number">
            <%= explanatoryNotes.medianHourlyPayDiff.num %>.
          </div>
          <div>&quot;Median hourly pay gap&quot; refers to the differences in pay
            between gender groups calculated by the mid range of pay for
            each group. Hourly pay does not include bonuses and overtime.</div>
        </div>
  </div>
</div>

<div id="block-overtime" class="block">
  <div class="header-block mb-4">
    <div class="header-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor"
        class="bi bi-clock text-primary" viewBox="0 0 16 16">
      </svg>
    </div>
    <div class="header-block-title flex-fill">
      <h2 class="mb-0">Annual overtime pay</h2>
    </div>
  </div>

  <table role="presentation">
    <tr>
      <td class="pe-2">
        <h4>Mean overtime pay<sup>
            <%= explanatoryNotes.meanOvertimePayDiff.num %>
          </sup></h4>
        <div id="mean-overtime-pay-gap">
          <% if (chartData.meanOvertimePayGap.length) { %>
            <div id="mean-overtime-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.meanOvertimePayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>
      </td>
      <td>
        <h4>Median overtime pay<sup>
            <%= explanatoryNotes.medianOvertimePayDiff.num %>
          </sup></h4>
        <div id="median-overtime-pay-gap">
          <% if (chartData.medianOvertimePayGap.length) { %>
            <div id="median-overtime-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.medianOvertimePayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>

      </td>
    </tr>
  </table>

  <hr />

  <table role="presentation" width="100%" class="overtime-hours-tables">
    <tr>
      <td class="pe-2" width="50%">
        <h4 class="mb-0">Mean overtime paid hours<sup>
            <%= explanatoryNotes.meanOvertimeHoursDiff.num %>
          </sup></h4>
        <% if (tableData.meanOvertimeHoursGap.length) { %>
          <p class="mb-2">Difference as compared to reference group (<%= referenceGenderCategory %>)</p>
          <table id="mean-overtime-hours-table" class="table" role="presentation">
            <% for(var i=0; i < tableData.meanOvertimeHoursGap.length; i++) { %>
              <tr>
                <td>
                  <%= tableData.meanOvertimeHoursGap[i].genderChartInfo.label %>
                </td>
                <td width="30%" class="centered">
                  <%= tableData.meanOvertimeHoursGap[i].value %>
                </td>
              </tr>
              <% } %>
          </table>
          <div class="text-normal mt-2 mb-2">
            <%= chartSummaryText.meanOvertimeHoursGap %>
          </div>
          <%} else { %>
            <%= chartSuppressedError %>
              <% } %>
      </td>
      <td class="ps-2" width="50%">
        <h4 class="mb-0">Median overtime paid hours<sup>
            <%= explanatoryNotes.medianOvertimeHoursDiff.num %>
          </sup></h4>
        <% if (tableData.medianOvertimeHoursGap.length) { %>
          <p class="mb-2">Difference as compared to reference group (<%= referenceGenderCategory %>)</p>
          <table id="median-overtime-hours-table" class="table" role="presentation">
            <% for(var i=0; i < tableData.medianOvertimeHoursGap.length; i++) { %>
              <tr>
                <td>
                  <%= tableData.medianOvertimeHoursGap[i].genderChartInfo.label %>
                </td>
                <td width="30%" class="centered">
                  <%= tableData.medianOvertimeHoursGap[i].value %>
                </td>
              </tr>
              <% } %>
          </table>
          <div class="text-normal mt-2 mb-2">
            <%= chartSummaryText.medianOvertimeHoursGap %>
          </div>
          <%} else { %>
            <%= chartSuppressedError %>
              <% } %>
      </td>
    </tr>
  </table>

  <hr />

  <h4 class="mb-0">Percentage of employees in each gender category receiving overtime pay</h4>

  <div id="percent-receiving-overtime-pay">
    <div id="percent-receiving-overtime-pay-chart">
    </div>
  </div>

  <div class="explanatory-notes">
    <h4>Explanatory notes</h4>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.meanOvertimePayDiff.num %>.
      </div>
      <div>&quot;Mean overtime pay&quot; refers to overtime pay when averaged for each group.</div>
    </div>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.medianOvertimePayDiff.num %>.
      </div>
      <div>&quot;Median overtime pay&quot; refers to the middle point of overtime pay for each group.</div>
    </div>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.meanOvertimeHoursDiff.num %>.
      </div>
      <div>&quot;Mean overtime paid hours&quot; refers to the average number of hours of overtime worked for each
        group.</div>
    </div>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.medianOvertimeHoursDiff.num %>.
      </div>
      <div>&quot;Median overtime paid hours&quot; refers to the middle point of number of overtime hours worked for
        each group.</div>
    </div>
  </div>
</div>

<div id="block-bonus-pay" class="block">
  <div class="header-block mb-4">
    <div class="header-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor"
        class="bi bi-clock text-primary" viewBox="0 0 16 16">

      </svg>

    </div>
    <div class="header-block-title flex-fill">
      <h2 class="mb-0">Annual bonus pay</h2>
    </div>
  </div>

  <table role="presentation">
    <tr>
      <td class="pe-2">
        <h4>Mean bonus pay<sup>
            <%= explanatoryNotes.meanBonusPayDiff.num %>
          </sup></h4>
        <div id="mean-bonus-pay-gap">
          <% if (chartData.meanBonusPayGap.length) { %>
            <div id="mean-bonus-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.meanBonusPayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>
      </td>
      <td>
        <h4>Median bonus pay<sup>
            <%= explanatoryNotes.medianBonusPayDiff.num %>
          </sup></h4>
        <div id="median-bonus-pay-gap">
          <% if (chartData.medianBonusPayGap.length) { %>
            <div id="median-bonus-pay-gap-chart"></div>
            <div class="text-normal mt-2 mb-2">
              <%= chartSummaryText.medianBonusPayGap %>
            </div>
            <% } else { %>
              <%= chartSuppressedError %>
                <% } %>
        </div>
      </td>
    </tr>
  </table>

  <hr />

  <h4 class="mb-0">Percentage of employees in each gender category receiving bonus pay</h4>

  <div id="percent-receiving-bonus-pay">
    <div id="percent-receiving-bonus-pay-chart">
    </div>
  </div>

  <div class="explanatory-notes">
    <h4>Explanatory notes</h4>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.meanBonusPayDiff.num %>.
      </div>
      <div>&quot;Mean bonus pay&quot; refers to bonus pay when averaged for each group.</div>
    </div>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.medianBonusPayDiff.num %>.
      </div>
      <div>&quot;Median bonus pay&quot; refers to the middle point of bonus pay for each group.</div>
    </div>
  </div>
</div>

<div id="block-hourly-pay-quartiles" class="block">
  <div class="header-block mb-4">
    <div class="header-circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor"
        class="bi bi-clock text-primary" viewBox="0 0 16 16">
      </svg>

    </div>
    <div class="header-block-title flex-fill">
      <h2>Percentage of each gender in each pay quartile</h2><sup>
        <%= explanatoryNotes.payQuartiles.num %>
      </sup>
    </div>
  </div>

  <table role="presentation" class="mb-2">
    <tr>
      <td class="pe-2" style="width:600px">
        <div id=" hourly-pay-quartiles">
          <div id="hourly-pay-quartile-4">
            <% var q4HasSuppressed=chartData.hourlyPayQuartile4.length < 4; %>
              <div class="text-normal">Upper hourly pay quartile (highest paid)<% if (q4HasSuppressed) { %>*<% } %>
              </div>
              <% if (chartData.hourlyPayQuartile4.length) { %>
                <div id="hourly-pay-quartile-4-chart"></div>
                <% } %>
          </div>
          <div id="hourly-pay-quartile-3">
            <% var q3HasSuppressed=chartData.hourlyPayQuartile3.length < 4; %>
              <div class="text-normal">Upper middle hourly pay quartile<% if (q3HasSuppressed) { %>*<% } %>
              </div>
              <% if (chartData.hourlyPayQuartile3.length) { %>
                <div id="hourly-pay-quartile-3-chart"></div>
                <% } %>
          </div>
          <div id="hourly-pay-quartile-2">
            <% var q2HasSuppressed=chartData.hourlyPayQuartile2.length < 4; %>
              <div class="text-normal">Lower middle hourly pay quartile<% if (q2HasSuppressed) { %>*<% } %>
              </div>
              <% if (chartData.hourlyPayQuartile2.length) { %>
                <div id="hourly-pay-quartile-2-chart"></div>
                <% } %>
          </div>
          <div id="hourly-pay-quartile-1">
            <% var q1HasSuppressed=chartData.hourlyPayQuartile1.length < 4; %>
              <div class="text-normal">Lowest hourly pay quartile (lowest paid)<% if (q1HasSuppressed) { %>*<% } %>
              </div>
              <% if (chartData.hourlyPayQuartile1.length) { %>
                <div id="hourly-pay-quartile-1-chart"></div>
                <% } %>
          </div>
        </div>
      </td>
      <td class="pe-2">
        <div id="hourly-pay-quartiles-legend" class="ml-6"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text-normal mt-2 mb-2">
          <p>
            <%= chartSummaryText.hourlyPayQuartiles %>
          </p>
          <% if (q1HasSuppressed || q2HasSuppressed || q3HasSuppressed || q4HasSuppressed) { %>
            <p>* This pay quartile was reduced to suppress gender categories consisting of less than ten (10)
              employees.</p>
            <% } %>
        </div>
      </td>
    </tr>
  </table>

  <div class="explanatory-notes">
    <h4>Explanatory notes</h4>
    <div class="footnote">
      <div class="footnote-number">
        <%= explanatoryNotes.payQuartiles.num %>.
      </div>
      <div>&quot;Pay quartile&quot; refers to the percentage of each gender within four equal sized groups based on
        their hourly pay.</div>
    </div>
  </div>
</div>