name: .E2E-Admin
env:
  deployment_name: pay-transparency
on:
  workflow_dispatch:
    secrets:
      ADMIN_E2E_TEST_LOGIN_USERNAME:
        required: true
      ADMIN_E2E_TEST_LOGIN_PASSWORD:
        required: true
      ADMIN_E2E_TEST_LOGIN_OTP_SECRET:
        required: true
    inputs:
      admin-frontend-url:
        description: "URL of the admin frontend application"
        required: true
        type: string
      environment:
        description: "Environment to read secrets from GitHub secrets"
        required: false
        default: dev
        type: string
      timeout-minutes:
        description: "Timeout minutes"
        default: 8
        required: false
        type: number
  workflow_call:
    secrets:
      ADMIN_E2E_TEST_LOGIN_USERNAME:
        required: true
      ADMIN_E2E_TEST_LOGIN_PASSWORD:
        required: true
      ADMIN_E2E_TEST_LOGIN_OTP_SECRET:
        required: true
    inputs:
      admin-frontend-url:
        description: "URL of the admin frontend application"
        required: true
        type: string
      environment:
        description: "Environment to read secrets from GitHub secrets"
        required: false
        default: dev
        type: string
      timeout-minutes:
        description: "Timeout minutes"
        default: 8
        required: false
        type: number

jobs:
  end-to-end:
    name: Tests
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: admin-frontend
    runs-on: ubuntu-22.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    strategy:
      max-parallel: 1
      matrix:
        project: [chromium, Google Chrome, firefox, safari, Microsoft Edge]
    steps:
      - uses: actions/checkout@v4
        name: Checkout
      - uses: actions/setup-node@v4
        name: Setup Node
        with:
          node-version: 20
      - name: Install dependencies
        run: |
          npm ci
          npx playwright install --with-deps
      - name: Run Tests
        env:
          E2E_ADMIN_BASE_URL: ${{ inputs.admin-frontend-url }}
          E2E_ADMIN_USERNAME: ${{ secrets.ADMIN_E2E_TEST_LOGIN_USERNAME }}
          E2E_ADMIN_PASSWORD: ${{ secrets.ADMIN_E2E_TEST_LOGIN_PASSWORD }}
          E2E_ADMIN_TOTP_SECRET: ${{ secrets.ADMIN_E2E_TEST_LOGIN_OTP_SECRET }}
        run: |
          npx playwright test --project="${{ matrix.project }}" --reporter=html

      - uses: actions/upload-artifact@v4
        if: always()
        name: upload results
        env:
          PW_TEST_HTML_REPORT_OPEN: always
        with:
          name: playwright-report-${{ matrix.project }}
          path: "./admin-frontend/playwright-report" # path from current folder
          retention-days: 7
