name: .Integration
env:
  deployment_name: pay-transparency
on:
  workflow_dispatch:
    inputs:
      backend-external-url:
        description: "Backend-External URL of the application"
        required: true
        type: string
      environment:
        description: "Environment to read secrets from GitHub secrets"
        required: false
        default: dev
        type: string
      timeout-minutes:
        description: "Timeout minutes"
        default: 8
        required: false
        type: number
  workflow_call:
    secrets:
      EXTERNAL_CONSUMER_API_KEY:
        required: true
      EXTERNAL_CONSUMER_DELETE_REPORTS_API_KEY:
        required: true
      BACKEND_POWERBI_URL:
        required: true
      ENTRA_APP_CLIENT_ID:
        required: true
      ENTRA_APP_CLIENT_SECRET:
        required: true
      ENTRA_APP_TENANT_ID:
        required: true
    inputs:
      backend-external-url:
        description: "Backend-External URL of the application"
        required: true
        type: string
      environment:
        description: "Environment to read secrets from GitHub secrets"
        required: false
        default: dev
        type: string
      timeout-minutes:
        description: "Timeout minutes"
        default: 8
        required: false
        type: number

jobs:
  backend-external-integration:
    name: Backend-external
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: backend-external
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - uses: actions/setup-node@v6
        name: Setup Node
        with:
          node-version: 24
      - name: Install dependencies
        run: |
          npm ci
      - name: Run Tests
        env:
          BASE_URL: ${{ inputs.backend-external-url }}
          EXTERNAL_CONSUMER_API_KEY: ${{ secrets.EXTERNAL_CONSUMER_API_KEY }}
          EXTERNAL_CONSUMER_DELETE_REPORTS_API_KEY: ${{ secrets.EXTERNAL_CONSUMER_DELETE_REPORTS_API_KEY }}
        run: |
          npm run test:integration

  backend-integration:
    name: Backend Integration
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: backend
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - uses: actions/setup-node@v6
        name: Setup Node
        with:
          node-version: 24
      - name: Install dependencies
        run: |
          npm ci
      - name: Run Backend Integration Tests
        env:
          BACKEND_POWERBI_URL: ${{ secrets.BACKEND_POWERBI_URL }}
          ENTRA_APP_CLIENT_ID: ${{ secrets.ENTRA_APP_CLIENT_ID }}
          ENTRA_APP_CLIENT_SECRET: ${{ secrets.ENTRA_APP_CLIENT_SECRET }}
          ENTRA_APP_TENANT_ID: ${{ secrets.ENTRA_APP_TENANT_ID }}
        run: |
          npm run test:integration
