name: Deploy to PROD On Workflow Dispatch.
env:
  deployment_name: pay-transparency
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "The Docker Tag to deploy, it would be the latest tagged version that you want to deploy from TEST to PROD."
        required: true
      is_hotfix:
        description: "Is this a hotfix deployment?"
        required: false
        default: false
        type: boolean
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  image-promotions-to-prod: # This is just for adding another tag to the image to reflect which docker tag is deployed to PROD.
    if: ${{ !github.event.inputs.is_hotfix }}
    name: Image Promotions to PROD
    runs-on: ubuntu-22.04
    permissions:
      packages: write
    strategy:
      matrix:
        package:
          [
            backend,
            database-migrations,
            admin-frontend,
            frontend,
            doc-gen-service,
            backend-external,
            maintenance,
          ]
    steps:
      - uses: shrink/actions-docker-registry-tag@v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.package }}
          target: "${{ github.event.inputs.tag }}"
          tags: prod
  deploys:
    name: Deploys (prod)
    uses: ./.github/workflows/.deploy.yml
    secrets: inherit
    with:
      target: prod
      environment: prod
      tag: ${{ github.event.inputs.tag }}
      frontend-url: https://paytransparency.fin.gov.bc.ca
      admin-frontend-url: https://ptrtadmin.fin.gov.bc.ca
      semver: ${{ github.event.inputs.tag }}
      values: "values-prod.yaml"
  zap:
    name: ZAP Scan
    needs: [deploys]
    runs-on: ubuntu-22.04
    steps:
      - name: Penetration Test
        uses: zaproxy/action-full-scan@v0.11.0
        with:
          target: https://paytransparency.fin.gov.bc.ca
          cmd_options: "-a"
          fail_action: false
          allow_issue_writing: false
