name: Pull Request Closed

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'docker-compose.yml'
      - 'renovate.json'
      - 'COMPLIANCE.yaml'
      - '.gitignore'
      - '.vscode/**'
      - '.diagrams/**'
      - '.graphics/**'
      - 'sysdig/**'
      - '.github/workflows/sysdig.yml'
      - 'clamav-service/**'
    branches:
      - main
    types:
      - closed

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  # Clean up OpenShift when PR closed, no conditions
  cleanup-openshift:
    if: '!github.event.pull_request.head.repo.fork'
    name: Cleanup OpenShift
    env:
      release: pay-transparency-pr-${{ github.event.number }}
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
        name: Login to OpenShift
        with:
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }} 
          # (NOTE: project command is a safeguard)
          commands: | 
             oc project ${{ vars.oc_namespace }}
      - name: Remove OpenShift artifacts
        run: |
          helm status ${{ env.release }} && helm uninstall --no-hooks ${{ env.release }} || \
            echo "Not found: ${{ env.release }}"

