# https://docs.developer.gov.bc.ca/sysdig-monitor-setup-team/
name: Add Sysdig Team on a Schedule or Manually

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
    add-sysdig-team:
      runs-on: ubuntu-24.04
      environment: tools
      steps:
      - uses: actions/checkout@v6
      - uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
        name: Login to OpenShift
        with:
          oc_namespace: db4642-tools
          oc_server: ${{ vars.oc_server }}
          oc_token: ${{ secrets.oc_token }} 
          commands: | 
            oc project db4642-tools # Safeguard!
            oc apply -f ./sysdig/sysdig.yml